<mat-card class="city-card">
    <mat-card-header class="city-card-header">
        <mat-card-title>{{city.name}}</mat-card-title>
        <mat-card-subtitle>{{city.country}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img src="{{city.icon}}" alt="{{city.description}}">
        <h3 *ngIf="temperature">
            {{city.temp}}<sup>°C</sup>
        </h3>
        <h3 *ngIf="!temperature">
            {{city.tempF}}<sup>°F</sup>
        </h3>
        <p>
            {{city.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button (click)="deleteCity()">Delete</button>
        <button *ngIf="city.favorite" class="favoritesBtn" mat-flat-button color="primary"
            (click)="favoritesCity(false)">Remove from favorites</button>
        <button *ngIf="!city.favorite" mat-stroked-button (click)="favoritesCity(true)">Add to
            favorites</button>
    </mat-card-actions>
</mat-card>